<article class="card post">
    <div class="card-header title">
        <a href="/post/{{id}}">{{title}}</a>
        <br>
        posted by {{user.username}} on {{format_date created_at}}
    </div>
    <div class="card-body meta">
        <p> {{content}} </p>
        {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
    </div>
</article>